aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
bme680==1.0.5
chardet==3.0.4
DateTime==4.3
discord==1.0.1
discord.py==1.4.1
dotenv==0.0.5
idna==2.10
multidict==4.7.6
pkg-resources==0.0.0
python-dotenv==0.14.0
pytz==2020.1
smbus==1.1.post2
typing-extensions==3.7.4.3
yarl==1.6.0
zope.interface==5.1.0
